<div>
  <h3><%= @user.name %></h3>
</div>
<% if @user == current_user %>
  <%= link_to "プロフィール編集", edit_user_path(@user.id) %>
<% end %>
<% if @user.tips.any? %>
  <h4>投稿一覧</h4>
  <ul>
    <% @user.tips.each do |tip| %>
      <li>
        <%= link_to tip.title, tip_path(tip) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>投稿はありません</p>
<% end %>
